@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&display=swap');

body {
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    background-color: black;
}

.businesses {
    display: grid;
    gap: 1em;
}

.businesses article {
    max-width: 650px;
}

.businesses article p {
    padding: 0 1em 1em;
}

.businesses article h3 {
    padding: 0 1em;
}

img {
    max-width: 100%;
}

nav {
    background-color: navy;
    font-size: larger;
}

nav ul {
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
}

nav ul li {
    padding: 1em;
}

header img {
    display: block;
    margin: 0 auto;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 5px 10px gray;
}

nav ul li a {
    text-decoration: none;
    padding: 1em;
}

nav ul li a:hover {
    color: navy;
    background-color: gold;
    text-decoration: none;
}

a {
    color: gold;
}

main {
    margin: 0 auto;
    max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

article {
    background-color: navy;
}

footer {
    padding: 0.25em 1em 1em 1em;
    background-color: navy;
}

.social img {
    margin: 1em;
}

#call-to-action p {
    margin: 2em;
}

#call-to-action a {
    background-color: navy;
    text-decoration: none;
    border: 2px solid black;
    padding: 0.5em;
    border-radius: 4px;
}

#call-to-action a:hover {
    background-color: blue;
}

table {
    margin: 2em auto;
}

th, td {
    border: 1px solid white;
    padding: 0.5em;
    text-align: center;
}

section > img {
    border-radius: 10px;
}

.business-card-container {

    margin: 1em 0;
}

.business-card {
    background-color: white;
    color: #222;
    border: 2px solid #444;
    padding: 1em;
    font-size: 0.9em;
    max-width: 310px;
}

.business-card {
    margin: 1em 0;
}

.business-card > img {
    max-height: 4em;
}

.business-card a {
    color: blue;
}

.force-list {
    display: block !important;
}

form,fieldset {
    margin: 1em auto;
}

fieldset {
    padding: 1em;
    border-radius: 5px;
}

.input-label, .extended-input-label {
    margin: 0.75em auto;
}

.input-label label {
    margin-right: 2em;
}

.extended-input-label label {
    margin-bottom: 0.75em;
    display: block;
}

textarea {
    resize: vertical;
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

form {
    align-items: center;
    font-size: 1.2em;
}

.submit-button {
    margin-top: 1em;
    padding: 0.5em;
    max-width: 50%;
}

iframe {
    width: 100%;
}

.cur-weather, .forecast-weather {
    padding: 0.5em;
    margin: 1em auto;
    text-align: center;
}
