/* Content margin rules */
/* 960px + 1em */
@media (max-width: 976px) {

    main {
        margin: 0 1em;
    }

}

/* Desktop View */
@media (min-width: 720px) {

    .businesses {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu {
        display: none;
    }

    #call-to-action {
        font-size: 0.8em;
        padding: 1em;
        margin-left: 20%;
        background-color: gold;
        color: black;
        position: absolute;
        top: 13rem;
        width: 50%;
        border-radius: 5px;
    }

    #call-to-action h2 {
        margin: 0;
        padding: 0;
    }

    .business-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* Tablet and Desktop views */
@media (min-width: 476px) {

    footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .social {
        margin: 1em;
        text-align: center;
    }

    .business-card-container {
        display: grid;
        gap: 0 1em;
    }

    .input-label {
        display: flex;
        justify-content: space-between;
    }

    .info-map {
        display: flex;
        justify-content: space-between;
    }

    iframe {
        margin-left: 2em;
    }

}

/* Tablet and Mobile view */
@media (max-width: 719px) {

    body {
        font-size: 0.9em;
    }

    nav ul {
        flex-direction: column;
        padding: 1em;
        align-content: left;
    }

    nav ul li {
        padding: 1.25em;
    }

    nav ul li a{
        padding: 0.5em;
        border: 2px solid gold;
        border-radius: 5px;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-content: top;
        text-align: left;
        margin: 2em;
    }

    .menu {
        font-size: 5em;
        text-decoration: none;
    }

    .responsive {
        display: none;
    }

    table {
        font-size: 0.75em;
    }

    tr {
        display: block; float: left;
    }

    th, td {
        display: block;
    }

}

/* Tablet view */
@media (min-width: 476px)  and (max-width: 719px) {

    .businesses {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #my-pc-er {
        grid-column: 1 / 3;
    }

    #baby-swag {
        grid-column:  3 / 5;
    }

    #game-pulse {
        grid-row: 2 / span 1;
        grid-column: 2 / 4;
    }

    .business-card-container {
        grid-template-columns: 1fr 1fr;
    }

}

/* Mobile view */
@media (max-width: 475px) {

    .businesses {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .businesses article {
        margin: 1em 0;
    }

    .contact, .social {
        text-align: center;
    }

    .national-data {
        display: none;
    }

    .view-selector {
        display: none;
    }

    .input-label label {
        display: block;
    }
}

@media (max-width: 345px) {

    body {
        font-size: 0.7em;
    }

    table {
        font-size: 0.9em;
    }

    .county-data {
        display: none;
    }
}
