/* Content margin rules */
/* 960px + 1em */
@media (max-width: 976px) {

    main {
        margin: 0 1em;
    }

}

/* Desktop View */
@media (min-width: 720px) {

    nav {
        font-size: larger;
    }

}

/* Tablet and Mobile view */
@media (max-width: 719px) {

    nav ul {
        flex-direction: column;
        padding: 1em;
    }

    nav ul li {
        padding: 1.25em;
    }

    nav ul li a{
        padding: 0.5em;
        border: 2px solid gold;
        border-radius: 5px;
    }

}

/* Mobile view */
@media (max-width: 475px) {

    body {
        font-size: 0.9em;
    }

    .businesses {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .businesses article {
        margin: 1em 0;
    }

    .businesses article p {
        padding: 0 1em 1em;
    }

    .businesses article h3 {
        padding: 0 1em;
    }

}
