body {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

img[data-src] {
    filter: blur(0.75em);
  }
  
.remove-blur {
    filter: blur(0em) !important;
    transition: filter 1s;
  }
  